* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
.r-swiper-out {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.r-swiper-out-item {
  position: relative;
  padding: 1em;
  border: 1px solid #ccc;
  border-left: none;
  border-right: none;
  width: 100%;
}
.r-swiper-out-item-btns {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  transform: translateX(100%);
}
.r-swiper-out-item-btn {
  background-color: #f00;
  color: #fff;
  width: 100px;
  text-align: center;
  padding: 10px;
  margin-top: 6px;
}
