$blue = #3190e8
$bc =  #e4e4e4
$fc = #fff


wh($width, $height)
  width $width
  height $height

sc($fz, $c)
  font-size $fz
  color $c

ct()
  position absolute
  top 50%
  transform translateY(-50%)

fj($type = space-between)
  display flex
  justify-content $type

font($size, $line-height, $family='Microsoft YaHei')
  font $size/$line-height $family

center()
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)
