{
  "presets": ["env", "react"],
  "plugins": [
    [
      "transform-runtime"
    ],
    "transform-class-properties",
    "transform-decorators-legacy",
    [
      "import",
      {
          "libraryName": "antd",
          "libraryDirectory": "es",
          "style": "css"
      }
    ]
  ]
}