<<<<<<< HEAD
body {
  height: 100%;
  width: 100%;
}
#root {
=======
:global body {
  height: 100%;
  width: 100%;
}
:global #app {
>>>>>>> 29fa5dddcda44e56f7ada5f083cf5969b82ae7b2
  height: 100%;
  width: 100%;
  background: #fafafa !important;
}
<<<<<<< HEAD
.page {
  height: 100%;
  width: 100%;
}
.page-container {
=======
:global .page {
  height: 100%;
  width: 100%;
}
:global .page-container {
>>>>>>> 29fa5dddcda44e56f7ada5f083cf5969b82ae7b2
  background: #fafafa;
//   margin-top: 136px;
  padding-top: 136px;
}