.sales {
  overflow: hidden;
  
}
.sales .title {
  margin-left: 32px;
  font-size: 16px;
}
.radiusdot {
  width: 12px;
  height: 12px;
  margin-right: 8px;
  border-radius: 50%;
  display: inline-block;
}

.legend {
  text-align: right;
  color: #999;
  font-size: 14px;

  
}
.legend li {
  height: 48px;
  line-height: 48px;
  display: inline-block;

 
}

.legend li + li {
  margin-left: 24px;
}

.tooltip {
  background: #fff;
  padding: 20px;
  font-size: 14px;  
}

.tooltip .tiptitle {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 8px;
}

.tooltip .tipitem {
  height: 32px;
  line-height: 32px;
}