.child-view, .view {
  transition: all .5s cubic-bezier(.55,0,.1,1);
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-active {
  opacity: 0
}

.slide-left-enter, .slide-right-leave-active {
  opacity: 0;
  -webkit-transform: translate(30px, 0);
  transform: translate(30px, 0);
}

.slide-left-leave-active, .slide-right-enter {
  opacity: 0;
ã€€-webkit-transform: translate(-30px, 0);
  transform: translate(-30px, 0);
}
